HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/application.yml
src/main/resources/petbulance-*-firebase-adminsdk-*.json

src/main/java/com/example/Petbulance_BE/global/oauth2/custom/CustomOAuth2UserService.java
src/main/java/com/example/Petbulance_BE/global/oauth2/custom/CustomSuccessHandler.java

src/test/resources/application-test.properties