spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}/petbulance?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    show-sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379


  jwt:
    secret: ${JWT_SECRET}
    expiration: 3000

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT}
            redirect-uri: ${KAKAO_REDIRECT}
            authorization-grant-type: authorization_code
            client-name: kakao
            scope:
              - account_email
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: ${NAVER_REDIRECT}
            authorization-grant-type: authorization_code
            client-name: naver
            scope:
              - email
              - birthday
              - birthyear
              - mobile
              - gender
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT}
            authorization-grant-type: authorization_code
            client-name: google
            scope:
              - profile
              - email


        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-name-attribute: id
            user-info-uri: https://kapi.kakao.com/v2/user/me
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
    credentials:
      access-key: ${S3_ACCESS}
      secret-key: ${S3_SECRET}
    region:
      static: ap-northeast-2

rag:
  vertex:
    url-with-key: https://example.com?key=TEST_KEY

geo:
  api:
    uri: https://example.com/geo
    key: 2lkjdfasdfdf

gemini:
  api:
    url-with-key: https://generativelanguage.googleapis.com/v1/models/...
