name: Deploy To EC2 via SSM (Docker)

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Create application-prod.yml
        run: echo "${{ secrets.APPLICATION_PROPERTIES }}" > ./src/main/resources/application-prod.yml

      - name: Create firebase.json
        run: |
          cat << 'EOF' > ./src/main/resources/petbulance-b316f-firebase-adminsdk-fbsvc-8c92a7aab5.json
          ${{ secrets.FILEBASE_JSON }}
          EOF

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Build Spring Boot (skip tests)
        run: ./gradlew clean build -x test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t petbulance .

      - name: Tag Docker image
        run: docker tag petbulance:latest 276995858259.dkr.ecr.ap-northeast-2.amazonaws.com/petbulance:latest

      - name: Push Docker image to ECR
        run: docker push 276995858259.dkr.ecr.ap-northeast-2.amazonaws.com/petbulance:latest

      - name: Deploy to EC2 via SSM
        run: |
          COMMAND_ID=$(aws ssm send-command \
            --instance-ids "i-0102a3e18a61b4b83" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Petbulance" \
            --parameters file://ssm-commands.json \
            --query "Command.CommandId" \
            --output text)
          
          echo "COMMAND_ID=${COMMAND_ID}"
          
          aws ssm wait command-executed --command-id "$COMMAND_ID"
     

