name: Deploy To EC2

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Create application.yml
        run: echo "${{ secrets.APPLICATION_YML }}" > ./src/main/resources/application.yml

      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew

      - name: Build Spring Boot Project
        run: ./gradlew clean build -x test

      - name: Rename JAR File
        run: |
          find ./build/libs -name "*SNAPSHOT.jar" -exec mv {} project.jar \;

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "project.jar"
          target: "/home/ubuntu/Petbulance-Server/tobe"

      - name: Connect to EC2 & Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script_stop: true
          script: |
            sudo fuser -k -n tcp 8080 || true

            rm -rf /home/ubuntu/Petbulance-Server/current
            mkdir -p /home/ubuntu/Petbulance-Server/current

            mv /home/ubuntu/Petbulance-Server/tobe/project.jar /home/ubuntu/Petbulance-Server/current/project.jar
            cd /home/ubuntu/Petbulance-Server/current

            nohup java -jar project.jar > output.log 2>&1 &

            rm -rf /home/ubuntu/Petbulance-Server/tobe
